body{
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-style: light;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    flex: 1 0 auto;
}

footer{
    flex-shrink: 0;
}

/* -------------------------------------Mobile-first-design -------------------------------------*/
#page p{
    text-align: center;
}

header{
    background-color: #212274;
    padding-bottom: 10px;
    border-radius: 25px;
    position: sticky;
    top: 0px;
    border: white 15px solid;
    z-index: 1;
}

h1{
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 30px 10px 30px 10px ;
}

#searchInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 25px;
    width: 200px;
    border-radius: 3px;
}

#sortDropdown {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 20px;
    width: 150px;
}

h2{
    font-size: 1.3rem;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: light;
    hyphens: auto;
    word-break: normal;
}

.parkhausKarte{
    background-color: rgb(235, 234, 234);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
    position: relative; /* Ermöglicht die Verwendung von z-index */
    z-index: 0; 
    transition: background-color 0.4s ease
}

.parkhausKarte:active{
    background-color: rgb(207, 207, 207);
}

.topRowDiv {
    display: flex;
    align-items: center;
}

.icon{
    width: 50px;
    min-width: 50px;
    height: 50px;;
    border-radius: 10px;
    background-image: url(/IMG/parking_icon.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    flex-basis: auto;
}

.parkhausName {
    flex-grow: 2;
    padding-left: 10px;
}

.favoritIcon{ /* Favoriten Icon Idle */
    font-size: 36px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    flex-basis: auto;
    align-items: center;
    padding-bottom: 7px;
    padding-right: 10px;
}

.markedFavoritIcon { /* Favoriten Icon wenn ausgewählt */
    font-size: 36px;
    background: none;
    border: none;
    color: #212274;
    flex-basis: auto;
    align-items: center;
    padding-bottom: 7px;
}

.detailAnzeige{
    display: none;
    flex-direction: row;
}

.detailAuflistung {
    list-style-type: none;
    padding-left: 60.5px;
    margin-top: 8px;
}

.freiePlatze{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.offnungszeiten{
    margin-bottom: 8px;
}

footer {
    margin: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
}

.legend-item::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--color);
    margin-right: 5px;
}

.legend-item {
    font-size: 14px;
}

footer{
    background-color: #212274;
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
;
}

.footerText a {
    color: white;
    text-decoration: underline;
}




/* ------------------------------- Media Query for Medium devices (tablets, 600px and up) ----------------------------------------*/
@media (min-width: 600px) {
    html {
      font-size: 16px;
    }
}




/* ------------------------------- Media Query for Large devices (desktops, 1200px and up) --------------------------------------*/
@media (min-width: 1200px) {
    html {
    font-size: 18px;
    }

  .cardParkhausContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }

  .parkhausKarte{
    width: 400px;
    height: 250px;
    padding: 20px;
    }

  .parkhausKarte:hover {
    transform: translateY(-5px); 
    background-color: rgb(223, 220, 220);
    }

  .parkhausName{
    padding-left: 20px;
    }
  
  .detailAnzeige{
    display: grid;
    flex-direction: row;
    }

   .detailAuflistung {
    padding-left: 70.5px
    }

  .favoritIcon:hover{
    font-size: 38px;
    cursor: pointer;
    color: #3537a5;
    }    

    footer{
    display: flex;
    flex-direction: row;
    }

    .footerText{
    margin-left: auto;
    }

    .legend {
    display: flex;
    }

    .legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px; 
    }

    .legend-item::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--color);
    margin-right: 5px;
    }

    .legend-item {
    font-size: 14px;
    }

    .footerText a:hover {
    cursor: pointer;
    color: white; 
    font-weight: 500;
    }   

}