body{
    background-color: rgb(102, 162, 247);
}

.topRowDiv {
    display: flex;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url(/IMG/parking_icon.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.favoritIcon {
    font-size: 30px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
}

.markedFavoritIcon{
    font-size: 30px;
    background: none;
    border: none;
    color: rgb(255, 213, 0);
    background-color: brown; /* nacher wieder löschen */
}

.detailAnzeige{
    display: none;
    flex-direction: row;
}
    
.parkhausName {
    background-color: grey  ; /* nacher wieder löschen */
}