header{
    height: 191.33px;
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, wenn Sie den Titel auch horizontal zentrieren möchten */
}

.teamContainer {
    display: flex;
    flex-direction: column; /* Anordnung der Boxen untereinander */
    align-items: center; /* Zentriert die Boxen horizontal */
}

.boxCarina,
.boxSimone {
    width: calc(100% - 40px); /* Maximale Breite der Boxen */
    max-width: 400px; /* Maximale Breite der Boxen */
    background-color: rgb(235, 234, 234);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px; /* Abstand zwischen den Boxen */
    transition: transform 0.3s;
    position: relative; /* Ermöglicht die Verwendung von z-index */
    z-index: 0; 
}

.boxCarina:hover,
.boxSimone:hover{
    transform: translateY(-5px); 
    background-color: rgb(214, 213, 213);
}


.boxCarina img,
.boxSimone img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 360px; /* Set the height to 100% */
    object-fit: cover; /* Crop the image to fit the container */
    }

.teamBild{
    margin: 0px;
}

.infos {
    max-width: calc(100% - 40px);
    margin-left: 0; /* Links bündig */
    margin-top: 20px;
}

.name {
    margin-top: 0;
    margin-bottom: 10px; /* Abstand unter dem Namen */
    font-size: 24px; /* Kleinere Schriftgröße */
}

.infos p {
    margin-top: 10px;
    max-width: 100%;
}

footer .buttons{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

.buttons a{
    color: white;
}

.buttons:hover{
    color: white;
    cursor: pointer;
    font-weight: 500;
}





@media (min-width: 600px) {
    html {
      font-size: 16px;
    }


    .teamContainer {
        display: flex;
        justify-content: center; /* Boxen nebeneinander mit gleichmäßigem Abstand */
        flex-direction: row;
        align-items: flex-start;

    }
    
    .boxCarina,
    .boxSimone {
        width: calc(100% - 10px); /* 60% Breite minus 10px für den Abstand zwischen den Boxen */
        background-color: rgb(235, 234, 234); /* Dunkelgrauer Hintergrund */
        padding: 20px; /* Innenabstand */
        box-sizing: border-box; /* Padding wird nicht zur Breite hinzugefügt */
        border-radius: 10px;
        margin: 20px;
    }
    
    .boxCarina img,
    .boxSimone img {
        display: block;
        margin: 0 auto; /* Zentriert das Bild horizontal */
        width: calc(100% - 20px); /* Bildbreite 100% minus doppelter Innenabstand */
        max-width: 100%; /* Bild wird nicht über die Box hinaus skaliert */
    }
    
    .infos {
        max-width: calc(100% - 20px); /* Maximale Breite des Infoblocks */
        margin-left: 15px;
        margin-top: 20px; /* Abstand zum Bild */
    }

    .name{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 30px;
    }
    
    .infos p {
        margin-top: 10px; /* Abstand zwischen Aufgabenliste und Erklärtext */
        max-width: calc(100% - 20px); /* Maximale Breite des Erklärtextes */
    }

    footer {
        display: flex;
        justify-content: center;
        padding: 15px;
        height: 60px;
        align-items: center;
    }

}